@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --smoke-gray: #f5f5f5;
  --nero: #262626;
  --blue: #197bff;
  --red: #dc2804;
}

body {
    background: #e3e3e3;
}

.mobile-layout {
    max-width: 420px;
    min-height: 100vh;
    height: 100vh;
    margin: 0 auto;
    background: var(--smoke-gray);
    padding: 24px;
}